In [4]:
import pandas as pd

# Create a sample DataFrame with missing values and inconsistent data
data = {
    'Name': ['John', 'Amy', 'Peter', 'Sara'],
    'Age': [25, None, 35, 40],
    'Gender': ['Male', 'Female', 'M', 'Female'],
    'Salary': ['$5000', '$6000', '7000', '$8000']
}
df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Data cleaning and transformation

# Fill missing values with the mean age
mean_age = df['Age'].mean()
df['Age'].fillna(mean_age, inplace=True)

# Convert gender to a consistent format
df['Gender'] = df['Gender'].replace({'M': 'Male', 'F': 'Female'})

# Remove leading dollar sign and convert salary to numeric
df['Salary'] = df['Salary'].str.replace('$', '').astype(int)

# Display the cleaned and transformed DataFrame
print("\nCleaned and Transformed DataFrame:")
print(df)

Original DataFrame:
    Name   Age  Gender Salary
0   John  25.0    Male  $5000
1    Amy   NaN  Female  $6000
2  Peter  35.0       M   7000
3   Sara  40.0  Female  $8000

Cleaned and Transformed DataFrame:
    Name        Age  Gender  Salary
0   John  25.000000    Male    5000
1    Amy  33.333333  Female    6000
2  Peter  35.000000    Male    7000
3   Sara  40.000000  Female    8000

<ipython-input-4-0257a091ba41>:26: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Salary'] = df['Salary'].str.replace('$', '').astype(int)