Name:- Anagh Garg 
Reg.no:- 20BAI10127
Date:- 29-09-2022

In [ ]:
#q1

n = int(input())
arr_set = set(map(int, input().split()))
arr_list = list(arr_set)
arr_list.sort()
if (len(arr_list)) >= 2:
 arr_list.pop()
 print (arr_list[-1])
else:
 print (arr_list[-1])

1
2
2

In [ ]:
#Q2

hours = float(input("Enter the number of hours"))
minutes = float(input("Enter the number of minutes"))

if hours>7:
  print("Not valid")

elif hours>=5 and hours<=9:
  amount = 300
  hours = hours-5
  total_amount = hours*100/2 + minutes*2/2 + amount

elif hours<5:
  total_amount = hours*100/2 + minutes*2/2

print("The total amount is : ",total_amount)

Enter the number of hours5
Enter the number of minutes12
The total amount is :  312.0

In [ ]:
#Q3



x = int(input("Amount with Ganesh: "))

laptops = {"Hp":{"Price":53000,"Size of Screen" : 32},
"Asus":{"Price":59000,"Size of Screen" : 42},
"lenovo":{"Price":37000,"Size of Screen" : 72},
"Dell":{"Price":80000,"Size of Screen" : 52}}

max_size = 0


for i in laptops.keys():
    if(laptops[i]["Price"]<= x):
        max_size  = max(max_size, laptops[i]["Size of Screen"])
    else:
        continue

if(max_size==0):
    print("No Laptop in Budget")

else:
    for i in laptops.keys():
        if(laptops[i]["Size of Screen"] == max_size):
            print("Details of Laptop in Budget")
            print("Name of Laptop = ", i)
            print("Price = ", laptops[i]["Price"])
            print("Size of Screen = ", laptops[i]["Size of Screen"])
            break

Amount with Ganesh: 30000
No Laptop in Budget

In [ ]:
#Q4


n = int(input())

if 0<=n<=23:
    print("The student is a freshman.")
elif 24<=n<=53:
    print("The student is a sophomore.")
elif 54<=n<=83:
    print("The student is a Junior.")
elif n>=84:
    print("The student is a Senior.")
else:
    print("Not valid")

25
The student is a sophomore.